image: cypress/browsers:node12.14.1-chrome85-ff81
stages:
  - Execute testscript

Execute testscript:
  stage: Execute testscript
  script:
    # install dependencies
    - npm ci
    # start the server in the background
    - npm run start:ci &
    # run Cypress tests
    - npx cypress run --record --key 84398296-b2b5-4882-bd9a-82b2a0cf1f28